@model enso_Certamen.Models.SuscripcionGeneral
@{
    ViewData["Title"] = "Crear Suscripción";
}

<div class="container py-4">
    <div class="mx-auto" style="max-width: 900px;">
        <h2 class="mb-4">Crear Suscripción</h2>

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="NombreSuscripcion" class="form-label">Nombre</label>
                <input asp-for="NombreSuscripcion" class="form-control" placeholder="Ej: Juan Pérez" />
                <span asp-validation-for="NombreSuscripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="EmailSuscripcion" class="form-label">Correo Electrónico</label>
                <input asp-for="EmailSuscripcion" type="email" class="form-control" placeholder="Ej: juan@example.com" />
                <span asp-validation-for="EmailSuscripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FechaSuscripcion" class="form-label">Fecha</label>
                <input asp-for="FechaSuscripcion" type="date" class="form-control" />
                <span asp-validation-for="FechaSuscripcion" class="text-danger"></span>
            </div>

            <label asp-for="GuidBoletin" class="form-label">Boletín</label>
            <select asp-for="GuidBoletin" class="form-select" asp-items="ViewBag.Boletines">
                <option value="" selected disabled hidden>Sin boletín</option> 
                <option value="@Guid.Empty">Sin boletín</option>"
            </select>
            <span asp-validation-for="GuidBoletin" class="text-danger"></span>


            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Crear Suscripción</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
