html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.is-invalid, .input-validation-error {
  border-color: #dc3545 !important;
}

.invalid-feedback, .field-validation-error, .text-danger {
  color: #dc3545 !important; 
  display: block;
  margin-top: .25rem;
  font-size: .875rem;
}

.field-validation-error {
  font-style: italic;
  opacity: 0.9;
}
.field-validation-error {
  color: #e35d6a !important;  
  font-size: 0.8rem;
  margin-left: 2px;
}



